user nginx;
worker_processes auto;

events {
    worker_connections 1024;
}

http {
    server {
        listen {{ nginx_port }};
        server_name {{ inventory_hostname }};

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }
    }
}

